* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

}

.body {
  width: 100%;
  height: auto;
  background-color: #fff;
  float: left;
}

/* .header {
  width: 100%;
  height: 60px;
  background-color: #e1dfd8;
  border-bottom: 3px solid #393937;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
} */

.header-content {
  max-width: 1240px;
  width: 1240px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  color: #444442;
  font-size: 24px;
  float: left;
  padding: 17px;

}

.menu-list {
  border: 0;
}

.separator {
  width: 8px;
  height: 22px;
  background-color: #393937;
  height: fit-content;
}

.section {
  width: 100%;
  height: auto;
  padding: 40px;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  float: left;
}

.button1 {
  padding: 17px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button1:hover {
  background-color: #e1dfd8;
  text-decoration: underline;
}

.back {
  background: url("https://eco-cdn.iqpc.com/eco/images/channel_content/images/boxer.webp");
  max-width: 1400px;
  width: 1400px;
  height: calc(100vh - 140px);
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* position: relative; */
}

.picture {
  max-width: 1240px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 10px;
  float: left;
}

.picturetank {
  max-width: 1240px;
  width: 75%;
  height: 75%;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 10px;
  float: left;
  padding: 30px;
}

.back2 {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00000007, rgba(0, 0, 0, 0.918));
}



.big-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #FFF;
}

.table1 {
  border: 0;
  max-width: 1240px;
}

.less-margin-top {
  margin-top: 0px;
}

.button3 {
  padding: 14px;
  border-radius: 36px;
  border: 3px solid #393937;
  color: #393937;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button3:hover::before {
  top: 0;
}

.button3:hover {
  color: #fff;
}

.button3::before {
  background-color: #393937;
  content: '';
  padding: 27px;
  width: 304px;
  border-radius: 23px;
  position: absolute;
  top: 60px;
  left: 0;
  transition: top 0.3s ease;
  z-index: -1;
}

.button2 {
  padding: 14px;
  border-radius: 36px;
  border: 3px solid #393937;
  color: #393937;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button2:hover::before {
  top: 0;
}

.button2:hover {
  color: #fff;
}

.button2::before {
  background-color: #393937;
  content: '';
  padding: 27px;
  width: 104px;
  border-radius: 23px;
  position: absolute;
  top: 60px;
  left: 0;
  transition: top 0.3s ease;
  z-index: -1;
}

.x1 {
  background: url('https://aerospace.honeywell.com/content/dam/aerobt/en/images/horizontal/M1-Abrams-Tank-Banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x2 {
  background: url('https://upload.wikimedia.org/wikipedia/commons/a/a2/Decisive_Action_Rotation_13-04_130218-A-ML570-001.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x3 {
  background: url('https://topwar.ru/uploads/posts/2012-05/1337740912_T-90A_shtora_active.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.x4 {
  background: url('https://www.armadainternational.com/wp-content/uploads/2023/10/M109-52-ft-BAE-10-23.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.x5 {
  background: url('https://cms.westjavatoday.com/uploads/images/2025/05/image_750x500_681bf89da8cd1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.x6 {
  background: url('https://www.army-technology.com/wp-content/uploads/sites/3/2024/06/Image-4-Abrams-M1A2-SEPv3-Main-Battle-Tank.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x7 {
  background: url('https://www.19fortyfive.com/wp-content/uploads/2025/01/M1-Abrams-Tank-U.S.-Army-1024x576.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x8 {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Leopard_2_A7V_313_Bad_Frankenhausen_2024.JPG/500px-Leopard_2_A7V_313_Bad_Frankenhausen_2024.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x9 {
  background: url('https://www.airspace-review.com/wp-content/uploads/2024/01/Leopard-2A7HU.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x10 {
  background: url('https://upload.wikimedia.org/wikipedia/commons/6/6b/M1117_Armored_Security_Vehicle.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x11 {
  background: url('https://photo.weaponsystems.net/image/s-carousel/n-ve_sct_staghound_p02.jpg/--/img/ws/ve_sct_staghound_p02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x12 {
  background: url('https://www.airspace-review.com/wp-content/uploads/2024/01/Leopard-2A7HU.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x13 {
  background: url('https://live.staticflickr.com/4516/38358131394_267a6769b8_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container1 {
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  float: left;
}

.roundimages {
  border-radius: 25%;
}

a {
  text-decoration: none;
  color: #000000
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.ulpading {
  padding-left: 20px;
}

.olpading {
  padding-left: 20px;
}

/* .container1 {
  height: 150px;
  width: 600px;
} */